html {
    font-size: 62.5%;
    font-family: "Microsoft YaHei";
}

body {
    font-size: 1.2rem;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

.header {
    height: 3.3rem;
    line-height: 3.3rem;
    background-color: #eeeeee;
    color: #666;
}

.header p {
    display: inline-block;
}

.header a {
    color: #666;
}

.spacer {
    color: #ccc;
    margin: 0 1rem;
}

ul {
    list-style: none;
}

.w-slider {
    position: relative;
    overflow: hidden;
}

.slider-main {
    width: 100%;
    height: 47rem;
}

.slider-main-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 47rem;
}

.slider-main-img img {
    width: 100%;
    height: 47rem;
}

.slider-ctrl {
    position: absolute;
    bottom: 3rem;
}

.slider-ctrl-con {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    margin: 0 0.5rem;
    cursor: pointer;
}

.current {
    background: #FF6C00;;
}
