.crumb-box {
    line-height: 5.6rem;
    color: #999;
    font-size: 1.6rem;
    margin-left: 7.5%;
}

.crumbs {
    height: 5.6rem;
}

.crumbs a {
    color: #999;
}

.c-right,
.c-text {
    color: #f60;
}

.settled {
    width: 85%;
    border: 1px solid #D4D4D4;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
}

.settled-content {

}

.step {
    margin-top: 5rem;
}

.step li {
    padding: 0 4rem;
    margin: 0 0.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    float: left;
    background: #e5e5e5;
    color: #b27d66;
}

.step li:after {
    content: '';
    display: block;
    float: left;
    height: 0;
    width: 0;
    border-left: solid 1.75rem blue;
    border-top:solid 1.75rem rgba(0,0,0,0);
    border-bottom:solid 1.75rem rgba(0,0,0,0);
}

