.logo {
    height: 8rem;
    background: url(http://html.youhopelife.com/imgs/logo.png) no-repeat;
}

.sec{
    margin-top: 1.8rem;
}

.search-content{
    position: relative;
}

.search {
    width: 40rem;
    height: 3rem;
    padding-left: 1rem;
    border: 2px solid #008CE1;
}

.shop,
.goods {
    display: block;
    width: 5rem;
    height: 2.5rem;
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #fff;
    text-align: center;
    float: left;
}

.shop {
    background: #008CE1;
}

.goods {
    color: #666;
}

.icon-search {
    background: #008CE1;
    font-size: 2rem;
    position: absolute;
    top: 32.5%;
    margin-left: -2.5rem;
    color: #ffffff;
    height: 3rem;
    width: 4.3rem;
    text-align: center;
    line-height: 3rem;
}

.hot-search{
    margin-top: 0.5rem;
}

.hot-text{
    font-weight: bold;
}

.hot-search a{
    color: #333;
}

.icon-people{
    width: 2.4rem;
    height: 2.8rem;
    display: inline-block;
    vertical-align: middle;
    background-image: url(http://html.youhopelife.com/imgs/icons.png);
    background-repeat: no-repeat;
    background-position: -1px -15px;
}


.my-yh,
.my-car {
    height: 3.4rem;
    line-height: 3.4rem;
    background: #f9f9f9;
    border: 1px solid #d3d3d3;
    color: #676767;
    font-size: 1.4rem;
}









@media (max-width: 768px) {
    .city {
        text-align: center;
    }
}
