.logo {
    width: 18rem;
    height: 8rem;
    line-height: 13.1rem;
}

.logo img {
    padding-right: 2rem;
    border-right: 1px solid #d3d3d3;
}

.login-mark {
    color: #999;
    font-size: 2.6rem;
    line-height: 13.1rem;
    margin-left: 2rem;
}

.head-extra {
    margin-top: -1rem;
}

.login {
    background: #008CE1;
    height: 59rem;
}

.login-body {
    height: 59rem;
    /*background: url(http://html.youhopelife.com/imgs/login_bg.png) no-repeat 0 center / 70rem auto;*/
}

.form-area {
    margin-top: 4rem;
    margin-left: 5rem;
    background: #fff;
    padding: 2rem 3rem;
    width: 40rem;
}

.label {
    font-size: 2.4rem;
    color: #999;
    font-weight: 400;
}

.explain {
    color: #008CE1;
    font-size: 1.4rem;
}

.glyphicon-user {
    color: #008CE1;
}

.login-input {
    height: 3.7rem;
}

.phone-number {
    margin: 2.5rem 0 0 1rem;
}

.pwd,
.verification {
    margin: 2rem 0 0 1rem;
}

.vcode {
    width: 9.6rem;
    height: 3.5rem;
    margin-top: 2rem;
}

.change-vcode {
    color: #ff6c00;
    font-size: 1.4rem;
    margin-left: 1rem;
    line-height: 7.5rem;
}

.change-vcode:hover {
    text-decoration: none;
    cursor: pointer;
}

.pul {
    height: 3.7rem;
    font-size: 1.4rem;
    color: #666;
}

.pul input {
    vertical-align: middle;
    margin: 0 0 0 -0.5rem;
}

.pul span {
    line-height: 3.7rem;
    margin-left: 0.5rem;
}

.forget-pwd {
    line-height: 3.7rem;
}

.login-box {
    margin-top: 1.5rem;
}

.vip-registered,
.login-btn {
    height: 4rem;
    line-height: 4rem;
    font-size: 1.6rem;
    color: #fff;
    border: 0;
    border-radius: 0.5rem;
}

.login-btn {
    background: #EC6917;
}

.vip-registered {
    background: #008CE1;
}

.parents {
    height: 7rem;
    position: relative;
}

.text {
    background: #fff;
    color: #666;
    font-size: 1.6rem;
    line-height: 7rem;
    text-align: center;
}

.dotted-line {
    position: absolute;
    width: 100%;
    height: 0;
    border-top: 1px dashed #d3d3d3;
    top: 50%;
}

.vx,
.qq {
    width: 3.5rem;
    height: 3.5rem;
    background-image: url(http://html.youhopelife.com/imgs/icons.png);
    background-repeat: no-repeat;
}

.vx {
    background-position: -159px -453px;
}

.qq {
    margin-left: 13%;
    background-position: -159px -402px;
}

@media (max-width: 992px) {
    .form-area {
        margin: 4rem 0 0 28%;
    }
}

@media (max-width: 768px) {
    .city {
        text-align: center;
    }

    .form-area {
        width: 100%;
        margin: 0;
    }

    .login{
        height: 0;
    }

    .pwd{
        margin-top: 1.5rem;
    }
}




