.shoping-content {
    margin-left: 8.7%;
    width: 80%;
    border: 1px solid #d3d3d3;
    padding: 4rem 4rem 0 4rem;
}

.car-header {
    padding-bottom: 3rem;
    border-bottom: 1px solid #d3d3d3;
}

.car-step {
    width: 66.4rem;
    height: 4.2rem;
    background: #E5E5E5;
    float: right;
    display: flex;
    flex-direction: row;
}

.car-step div {
    text-align: center;
    width: 20rem;
    height: 4.2rem;
    font-size: 1.6rem;
    line-height: 4.2rem;
    color: #666;
}

.car-step .car-first-step {
    background: #FF6C00;
    color: #fff;
}

.arrow1 {
    display: inline-block;
    background-position: -255px -144px;
    width: 3.2rem;
    height: 4.2rem;
    background-repeat: no-repeat;
    background-image: url(http://www.youhopelife.com/imgs/icons.png);
}

.arrow2 {
    display: inline-block;
    background-position: -253px -220px;
    width: 3.2rem;
    height: 4.2rem;
    background-repeat: no-repeat;
    background-image: url(http://www.youhopelife.com/imgs/icons.png);
}

.car-center {
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #d3d3d3;
}

.car-bottom {
    margin: 5rem 0;
}

.car-sign {
    height: 4rem;
    font-size: 2.6rem;
    color: #666;
}

.car-icon {
    display: inline-block;
    width: 3.4rem;
    height: 3rem;
    vertical-align: -31%;
    margin: 0 1.5rem 0 0;
    background-position: -298px -433px;
    background-repeat: no-repeat;
    background-image: url(http://www.youhopelife.com/imgs/icons.png);
}

.empty-view {
    text-align: center;
    padding: 18rem 0;
    display: none;
}

.empty-view img {
    vertical-align: -220%;
}

.guide-btns {
    width: 17rem;
    display: inline-block;
    height: 10.9rem;
    margin: 0 0 0 4rem;
}

.guide-btns span {
    font-size: 1.8rem;
    color: #666;
    display: inline-block;
    margin: 2rem 0 0 0;
    width: 100%;
    text-align: left;
}

.guide-btns a {
    display: block;
    height: 44px;
    margin: 2rem 0 0 0;
    line-height: 4.4rem;
    color: #fff;
    background: #ff6c00;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 0.5rem;
}

.have-product-list {
    display: flex;
    flex-direction: row;
}

.have-product-info {
    display: flex;
    flex-direction: row;
}

.have-product-info img {
    width: 8.2rem;
    height: 7.9rem;
}

.p-box {
    border-bottom: 1px solid #ccc;
    position: relative;
}

.yh {
    font-size: 1.4rem;
    color: #666;
    text-indent: 3rem;
    margin: 1rem 0;
}

.have-product {
    border: 1px solid #ccc;
    border-bottom: none;
}

.have-product-list {
    height: 10rem;
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
}

.check-box {
    margin-left: 1rem;
}

.p-box input[type='checkbox'] {
    position: absolute;
    left: 1rem;
}

.have-product-list .have-product-check {
    margin-top: 3.35rem;
}

.total-price {
    margin-top: 3rem;
}

.have-product-info img {
    margin-left: 1rem;
    border: 1px solid #ccc;
}

.info-name {
    width: 20rem;
    margin-left: 1rem;
    color: #666;
}

.seven {
    color: #008CE1;
}

.info-g {
    margin-left: 1rem;
    color: #666;
}

.info-d {
    margin-left: 7rem;
    color: red;
}

.info-n {
    height: 2.2rem;
    margin-left: 3rem;
    border: 1px solid #ccc;
    line-height: 2.2rem;
    overflow: hidden;
}

.info-n span {
    display: inline-block;
}

.info-n .rec,
.info-n .add {
    width: 1.7rem;
    height: 2.2rem;
    text-align: center;
    cursor: pointer;
}

.info-n .rec {
    border-right: 1px solid #ccc;
}

.info-n .add {
    border-left: 1px solid #ccc;
}

.info-n .number {
    width: 4.6rem;
    text-align: center;
}

.all-price {
    margin-left: 2rem;
    font-weight: bold;
}

.total-price {
    margin-bottom: 5rem;
    border: 1px solid #ccc;
}

.total-price div {
    float: right;
}

.settlement {
    height: 5.2rem;
    width: 9.6rem;
    background: #ff6c00;
    color: #fff;
    border: 0;
    font-size: 1.8rem;
    font-weight: 700;
}

.total-price .price-span,
.total-price .price-span2{
    color: red;
    font-size: 1.6rem;
    font-weight: 700;
}

.delete-detail {
    margin-left: 1.5rem;
    cursor: pointer;
    color: red;
}

@media (max-width: 1200px) {
    .info-g p {
        display: none;
    }

    .car-header img {
        display: none;
    }

    .info-d {
        margin-left: 1rem;
    }

    .info-name {
        width: 13rem;
    }
}

@media (max-width: 930px) {
    .car-header {
        display: none;
    }

    .car-center {
        margin-top: 0;
    }
}

@media (max-width: 860px) {
    .info-d {
        display: none;
    }

    .shoping-content {
        border: 0;
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 620px) {
    .info-name p:first-child {
        height: 5rem;
        overflow: hidden;
        width: 8rem;
    }
}