.main {
    margin: 3rem 0 3rem 7.5%;
    display: flex;
    flex-direction: row;
}

.left-user {
    display: flex;
    flex-direction: column;
    width: 17.5rem;
    border: 1px solid #d3d3d3;
    background: #fff;
    float: left;
    padding: 1.5rem 0 1.5rem 0;
    font-size: 1.6rem;
    color: #666;
}

.left-mark {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 1.5rem;
}

.left-mark i {
    margin-left: 2rem;
}

.icon-i2 {
    width: 4rem;
    height: 4rem;
    display: inline-block;
    background-image: url(http://html.youhopelife.com/imgs/icons.png);
    background-position: 33px -449px;
    background-repeat: no-repeat;
    position: absolute;
    right: 1.5rem;
    top: 0;
}

.left-user h3 {
    line-height: 4rem;
    font-size: 1.6rem;
    color: black;
    font-weight: bold;
    margin: 0 1.5rem;
}

.left-user ul li {
    position: relative;
    height: 4rem;
}

.left-user a {
    margin-left: 1.5rem;
    font-size: 14px;
    color: #666;
    line-height: 4rem;
}

.right-user {
    width: 95.5rem;
    border: 1px solid #d3d3d3;
    margin-left: 3rem;
}

.right-user > p {
    padding: 2rem 1.5rem;
    font-size: 1.6rem;
    color: #018DE2;
    border-bottom: 1px solid #d3d3d3;
}

.right-user li {
    height: 4.9rem;
    line-height: 4.9rem;
    margin-left: 5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
}

.right-user span {
    color: #666;
    font-size: 1.6rem;
}

.right-user a {
    font-size: 15px;
    color: #008CE1;
    margin-left: 1rem;
}

.my-username,
.my-phone-number {
    height: 4rem;
    line-height: 4rem;
    padding: 0.3rem 0.8rem;
    font-size: 1.6rem;
    color: #666;
    background: #f4f4f4;
    border: 1px solid #d3d3d3;
    margin-left: 1rem;
}

.right-user input[type='radio'] {
    display: none;
}

.radio {
    display: flex;
    flex-direction: row;
    height: 3rem;
    line-height: 3rem;
}

.radio > span {
    border: 1px solid #d3d3d3;
    display: block;
    flex-direction: row;
    margin-top: 0.6rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
}

.radio p {
    float: left;
    font-size: 1.6rem;
    color: #666;
}

.right-user .i {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.6rem;
    margin-left: -0.6rem;
}

.radio .span-active {
    background: #018DE2;
}

.right-user select {
    float: left;
    width: 10rem;
    height: 3.5rem;
    border: 1px solid #d4d4d4;
    line-height: 3.5rem;
    font-size: 1.6rem;
    color: #666;
    padding: 0.3rem 0.8rem;
    font-family: "Microsoft Yahei";
    margin-top: 0.7rem;
    margin-left: 1rem;
}

.date {
    float: left;
    width: 4.5rem;
    height: 4.9rem;
    line-height: 4.9rem;
    text-align: center;
    color: #666;
    font-size: 16px;
}

.btn {
    width: 17rem;
    height: 4rem;
    line-height: 3rem;
    margin-left: 5.8rem;
    font-size: 1.6rem;
    background: #ff6c00;
    text-align: center;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-family: "Microsoft Yahei";
}

#modify-img {
    display: none;
}